.wrapper {
    position: relative;
    width: 420px;
    height: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.rpgui-content h2 {
    font-size: 1.7em !important;
    font-family: "MoveSans-Bold";
    display: flex;
    flex-direction: column;
    margin: 10px;
}

/* 전체 스타일 */
.waiting-room {
    position: relative;
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

/* 플레이어 그리드 */
.player-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 1rem 0;
}

/* 플레이어 슬롯 스타일 */
.player-slot {
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    text-align: center;
}

/* 비어 있는 슬롯 스타일 */
.player-slot.empty {
    background-color: #e0e0e0;
    border: 1px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-ready-status.not-ready {
    color: #f3da4b;
}

.player-ready-status.ready {
    color: #5353c8;
}

/* 채팅창 */
.chat-box {
    border: 0.5rem solid #000;
    height: 5rem;
    overflow-y: auto;
    margin: 1rem 0;
    padding: 0.5rem;
    text-align: center;
    font-family: "MoveSans-Bold";
    color : white;

}

/* 카운트다운 표시 */
.countdown-display,
.countdown-message {
    font-size: 1.2em;
    font-weight: bold;
    font-family: "MoveSans-Bold";
    color: white;

}

button.rpgui-button {
    align-items: center;
    text-align: center;
    justify-content: center;
}

button.rpgui-button h2 {
    margin: 0;
    font-size: 1em;
}