.wrapper {
    position: relative;
    width: 420px;
    height: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    justify-content: center;
}


h1 {
    margin:10px;
}

button {
    cursor:pointer;
    margin:3px;
    border: none;
    background: #374d220e;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    border-radius: 10px;
}

.wrapper .input-box {
    display: flex;
    margin: 25px;
    justify-content: space-evenly;
    align-items: center;
}

.wrapper .input-box input::placeholder {
    color: rgba(0, 0, 0, 0.377); 
}

.wrapper .input-box input {
    margin-left:10px;
    padding-left: 10px;
    position: relative;
    width: 70%;
    height: 25px;
    border:none;
    border-radius: 10px;
}

.icon {
    cursor: pointer;
    border: white;
}

.wrapper .navigateRoom {
    display:flex;
    padding:10px;

}