#container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0 5%;
    background-image: url("image/title-background.png");
    background-size: 100% 100%;
}

#logo-area {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#logo-img {
    width: 30%;
}

.wrapper {
    display: flex;
    width: 25%;
    overflow: hidden;
    margin: 0 auto;
}

.wrapper .form-box {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 30px 40px;
    background: rgba(103, 119, 78, 0.332);
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

.wrapper .form-box.login {
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transform: translateX(-100%);
}
.wrapper .form-box.register {
    transform: translateX(100%);
}

.wrapper.active .form-box.register {
    transform: translateX(0);
}

.form-box h1 {
    color: #fff;
    font-size: 36px;
    text-align: center;
}

.form-box .input-box {
    position: relative;
    width: calc(100% - 25px); /* 25px 왼쪽 패딩 + 24px 테두리 */
    height: 50px;
    margin: 30px 0;
}

.form-box .input-box input {
    background: transparent;
    padding-left: 25px;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
}

form .input-box input::placeholder {
    color: #fff;
}

form .input-box .icon {
    top: 100% !important;
}

.form-box button {
    margin-top: 30px;
    border-radius: 20px;
    border: none;
    width: 100%;
    height: 45px;
    background: #fff;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    cursor: pointer;
}

form .guest {
    margin: 0px;
    border-radius: 5px;
    border: none;
    background: rgb(0, 0, 0);
    color: #fff;
}

form .register-link {
    font-size: 14.5px;
    text-align: center;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}
